.outline-header{
    width: 100%;
    height: 84px;
}

.outline-header .header{
    width: 1200px;
    height: 84px;
    margin: auto;
}

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
}

.btn-login{
    color: #222222;
    font-size: 24px;
}

a.help{
    color: var(--color-header--);
    font-size: .875rem;
    text-decoration: none;
}